@font-face {
	font-family: 'Whitney';
	src: url('../fonts/Whitney-Bold.eot');
	src: local('☺'), url('../fonts/Whitney-Bold.woff') format('woff'), url('../fonts/Whitney-Bold.ttf') format('truetype'), url('../fonts/Whitney-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney';
	src: url('../fonts/Whitney-Light.eot');
	src: local('☺'), url('../fonts/Whitney-Light.woff') format('woff'), url('../fonts/Whitney-Light.ttf') format('truetype'), url('../fonts/Whitney-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney';
	src: url('../fonts/Whitney-Semibold.eot');
	src: local('☺'), url('../fonts/Whitney-Semibold.woff') format('woff'), url('../fonts/Whitney-Semibold.ttf') format('truetype'), url('../fonts/Whitney-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}