@import "vars";
@import "libs";
@import "fonts";
@import "to-do";

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  font-family: Whitney;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.alert {
  min-height: 50px;
  background: #fff7a8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  .alert__text {
    color: $black;
    text-align: center;
  }
  .alert__link {
    color: $red;
    margin-left: 20px;
    text-align: center;
  }
  .close {
    position: absolute;
    right: 42px;
    cursor: pointer;
  }
}
.alert.closed {
  display: none;
}

// Burger Menu
.burger-menu {
  display: none;
  position: fixed;
  visibility: hidden;
  right: 0;
  top: 0;
  transform: translate(240px, 0);
  transition-duration: 0.4s;
  height: 100%;
  z-index: 5;
  &::after {
    content: '';
    position: absolute;
    width: 600%;
    height: 100%;
    background: #131313;
    opacity: 0.4;
    z-index: -1;
    right: 0;
    top: 0;
  }
  .main-nav {
    width: 240px;
    height: 100%;
    background: $white;
    box-shadow: 0px 15px 50px rgba(152, 152, 152, 0.1);
    padding: 80px 30px;
    position: relative;
    .burger-menu__close {
      position: absolute;
      top: 30px;
      right: 33px;
    }
    .main-nav__list {
      display: flex;
      flex-direction: column;
      li {
        &::before {
          content: none;
        }
        & > a {
          color: $black;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          &:hover {
            color: $red;
          }
        }
      }
      li + li {
        margin: 20px 0 0 0;
      }
    }
  }
}
.burger-menu.opened {
  visibility: visible;
  transform: translate(0, 0);
}

// Header
header {
  height: 80px;
  display: flex;
  align-items: center;
  .header__content {
    display: flex;
    align-items: center;
    .logo {
      height: 100%;
    }
    .main-nav {
      margin-left: 37px;
      .main-nav__list {
        display: flex;
        li {
          position: relative;
          & > a {
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            &:hover {
              color: $red;
            }
          }
          &:not(:first-child)::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            background-color: $black;
            border-radius: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: -9px;
          }
        }
        li + li {
          margin-left: 20px;
        }
      }
    }
    .notifications {
      margin-left: 38px;
      cursor: pointer;
      position: relative;
      .notifications__nums {
        display: none;
      }
      .notifications__nums.counter {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $red;
        border: 1px solid $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $white;
        top: 1px;
        right: -10px;
      }
      .notifications-icon {
      }
      .notifications__content {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: $white;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        border-radius: 15px;
        min-width: 300px;
        min-height: 100px;
        right: -28px;
        top: 57px;
        transition: 0.4s;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border: 1px solid;
          top: 0;
          right: 31px;
          transform: translate(0, -50%) rotate(45deg);
          border-color: $borderColor transparent transparent $borderColor;
          background: $white;
        }
        .notifications__empty {
          display: none;
          font-weight: 300;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.02em;
          color: $grey;
        }
        .notifications__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 300;
          font-size: 14px;
          line-height: 18px;
          padding: 20px;
          border-bottom: 1px solid $borderColor;
          .notifications__title {
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $grey;
          }
          .notifications__number {
            color: $grey;
          }
        }
        .notifications__list {
          padding-bottom: 10px;
          li {
            display: flex;
            position: relative;
            &::after {
              content: "";
              background: url(../img/arrow-right.svg) center no-repeat;
              width: 24px;
              height: 100%;
              position: absolute;
              right: 18px;
              pointer-events: none;
            }
            a {
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
              color: $black;
              position: relative;
              display: flex;
              width: 100%;
              padding: 20px 20px 20px 40px;
              &::before {
                content: "";
                width: 10px;
                height: 10px;
                background: $red;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                transform: translate(-20px, -50%);
                pointer-events: none;
              }
            }
            a.expired {
              &::before {
                background: $black;
              }
            }
          }
          li:not(:last-child) {
            border-bottom: 1px solid #ededed;
          }
          img {
            color: turquoise;
          }
        }
      }
      &:hover .notifications__content {
        opacity: 1;
        visibility: visible;
      }
      .notifications__content.empty {
        display: flex;
        justify-content: center;
        align-items: center;
        * {
          display: none;
        }
        .notifications__empty {
          display: flex;
        }
      }
    }
    .profile {
      position: relative;
      .avatar {
        margin-left: 30px;
        cursor: pointer;
      }
      .profile__content {
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        background: $white;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        border-radius: 15px;
        width: 180px;
        min-height: 170px;
        padding: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: $grey;
        gap: 10px;
        right: -20px;
        top: 57px;
        transition: 0.4s;
        visibility: hidden;
        z-index: 5;
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border: 1px solid;
          top: 0;
          right: 31px;
          transform: translate(0, -50%) rotate(45deg);
          border-color: $borderColor transparent transparent $borderColor;
          background: $white;
        }
        .profile__item {
          &:hover {
            color: $black;
            cursor: pointer;
          }
        }
      }
      &:hover .profile__content {
        opacity: 1;
        visibility: visible;
      }
    }
    // Burger menu
    .burger {
      cursor: pointer;
      display: none;
    }
    // .burger-menu {
    //   display: none;
    //   position: absolute;
    //   visibility: hidden;
    //   right: 0;
    //   top: 0;
    //   transform: translate(230px, 0);
    //   transition-duration: 0.4s;
    //   &::after {
    //     content: '';
    //     position: absolute;
    //     width: 100vw;
    //     height: 100%;
    //     background: #131313;
    //     opacity: 0.4;
    //     z-index: -1;
    //     right: 0;
    //     top: 0;
    //   }
    //   .main-nav {
    //     width: 240px;
    //     height: 100vh;
    //     background: $white;
    //     box-shadow: 0px 15px 50px rgba(152, 152, 152, 0.1);
    //     padding: 80px 30px;
    //     position: relative;
    //     .burger-menu__close {
    //       position: absolute;
    //       top: 30px;
    //       right: 33px;
    //     }
    //     .main-nav__list {
    //       display: flex;
    //       flex-direction: column;
    //       li {
    //         &::before {
    //           content: none;
    //         }
    //       }
    //       li + li {
    //         margin: 20px 0 0 0;
    //       }
    //     }
    //   }
    // }
    // .burger-menu.opened {
    //   visibility: visible;
    //   transform: translate(0, 0);
    // }
  }
}

.search-wrapper {
  background-image: url(../img/students.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  padding-top: 258px;
  .search-wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .search__title {
      font-weight: bold;
      font-size: 48px;
      line-height: 63px;
      color: $white;
      text-shadow: 0px 4px 40px rgba(68, 68, 68, 0.5);
      margin-bottom: 30px;
      text-align: center;
    }
    .search {
      position: relative;
      width: 100%;
      max-width: 600px;
      .search__input {
        border: 2px solid $white;
        border-radius: 15px;
        width: 100%;
        height: 50px;
        background-color: transparent;
        padding: 5px 50px;
        color: $white;
        font-family: Whitney;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 18px;
        &:focus {
          background-color: rgba(22, 21, 21, 0.5);
          outline: none;
        }
      }
      .search-icon {
        background-image: url(../img/zoom.svg);
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate(0, -50%);
      }
    }
  }
}

.navigation-btns {
  min-width: 500px;
  background: $red;
  padding: 100px 0;
  .nav-by-btns {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    column-gap: 100px;
    row-gap: 60px;
    justify-content: center;
    .tile {
      border: 2px solid $white;
      box-shadow: 0px 15px 50px rgba(152, 152, 152, 0.1);
      border-radius: 20px;
      height: 120px;
      width: 320px;
      display: flex;
      align-items: center;
      padding: 44px 0 45px 28px;
      color: $white;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.03em;
      position: relative;
      &::after {
        content: "";
        width: 36px;
        height: 36px;
        border: 2px solid $white;
        border-radius: 50%;
        position: absolute;
        right: 38px;
      }
      &::before {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        right: 52px;
        transform: rotate(45deg);
        border: 2px solid;
        border-color: $white $white transparent transparent;
      }
      &:hover {
        background-color: $white;
        color: $red;
        &::after {
          border-color: $red;
        }
        &::before {
          border-color: $red $red transparent transparent;
        }
      }
    }
  }
}

.events {
  padding: 120px 0;
  .slider {
    margin-top: 40px;
    margin-left: 197px;
    .slider__item {
      min-width: 290px;
      .event-card {
        border: 1px solid $borderColor;
        border-radius: 15px;
        height: 320px;
        max-width: 290px;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .event-card__text {
          max-height: 187px;
          overflow: hidden;
          .event-card__title {
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.05em;
            color: $black;
          }
          .event-card__subtitle {
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
            color: $grey;
            margin-top: 10px;
          }
        }
        .note {
          border-top: 1px solid $borderColor;
          padding-top: 20px;
          .note__date {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: $black;
          }
          .note__time {
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            color: $black;
            margin-top: 10px;
          }
          .place {
            margin-left: 30px;
            &::before {
              content: "";
              position: absolute;
              width: 2px;
              height: 2px;
              background-color: $black;
              border-radius: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              left: -15px;
            }
          }
        }
      }
    }
  }
}

.news {
  padding-bottom: 120px;
  .news__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 366px);
    justify-content: center;
    grid-gap: 30px;
    .news__item {
      max-width: 367px;
      cursor: pointer;
      width: 100%;
      img {
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
      .news__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $red;
        margin-top: 30px;
      }
      .news__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: $black;
        margin-top: 10px;
      }
      .news__date {
        font-weight: 325;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $grey;
        margin-top: 20px;
      }
    }
  }
}

.more-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: $red;
  margin-top: 80px;
  display: block;
}

// Footer
.footer {
  background: #f3f3f3;
  padding: 30px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  .footer__top {
    padding-bottom: 30px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      align-self: flex-start;
    }
    .address {
      // max-width: 341px;
    }
  }
  .footer__bot {
    border-top: 1px solid $borderColor;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 33px;
    }
    .copyright {
      line-height: 21px;
    }
    .socials {
      display: flex;
      gap: 28px;
      .socials__item {
        line-height: 21px;
        letter-spacing: 0.03em;
      }
    }
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.03em;
    color: $red;
  }
  a {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $grey;
    margin-bottom: 5px;
    margin-right: 1px;
  }
}

// Slider

.slider {
  // width: 100%;
  .slick-arrow {
    position: absolute;
    top: calc(50% + 1px);
    font-size: 0;
    cursor: pointer;
    width: 50px;
    height: 16px;
    border: none;
    background-color: transparent;
    background: url(../img/long-arrow.svg) 0 0 / 100% no-repeat;
    outline: none;
  }
  .slick-arrow.slick-prev {
    left: -197px;
    transform: rotate(180deg);
  }
  .slick-arrow.slick-next {
    left: -125px;
  }
  .slick-slide {
    min-width: 290px;
  }
  .slick-slide + .slick-slide {
    margin-left: 46px;
  }
}

.slider.slick-initialized.slick-slider {
  // width: 100%;
  max-width: 963px;
}

// Popup

.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 30px 30px 40px 30px;
  max-width: 600px;
  width: 100%;
  min-height: 224px;
  margin: 0 auto;
  border-radius: 15px;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/popup-close.svg) center no-repeat;
    top: -30px;
    right: 0;
    pointer-events: none;
    background-color: #fff;
    border-radius: 50%;
  }
}

button.mfp-close, button.mfp-arrow {
  overflow: auto;
}

.popup-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $red;
  position: relative;
  margin-left: 20px;
  &::before {
    content: "";
    background: url(../img/power-red.svg) center no-repeat;
    width: 10px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translate(-20px, -50%);
  }
}

.popup-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $black;
  margin-top: 10px;
}
.popup-text {
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  margin-top: 10px;
  p {
    margin: 0;
  }
}

.mfp-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -30px;
  opacity: 0;
  pointer-events: none;
  &:hover,
  &:focus {
    opacity: 0;
  }
}

@import "media";
