<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cal state East Bay
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  body
    .index-body
      h1.index-h1 Верстка страниц сайта университета
      .html-pages
        .html-pages__item
          a(href="home.html")
            img(src="img/home.JPG", alt="Home page")
        .html-pages__item
          a(href="to-do.html")
            img(src="img/to-do.JPG", alt="To-do list page")