<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My To-Do List
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="css/to-do.min.css")
  body
    include header.pug
    .to-do-list
      .container
        .title-wrapper
            h2 My To-Do List
            .title-notes
              a(href="#").title-notes__item Expired
              a(href="#").title-notes__item Expires Soon
        .filter
          button.active Admisson
          button Finance
        .to-do-list__content
          .to-do-card
            .to-do-card__title
              .sender.expired Administration
              .expire-alert.expired Expired
            .to-do-card__text Submitting documents to&nbsp;the Cal State East Bay documents to&nbsp;the Cal State...
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert.expires-soon Expires Soon
            .to-do-card__text Tuition per Semester
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert.expires-soon Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
          .to-do-card
            .to-do-card__title
              .sender Administration
              .expire-alert Expires Soon
            .to-do-card__text Submitting documents to the Cal State East Bay
            .to-do-card__deadline
              img(src="img/clock.svg", alt="Clock icon")
              span Deadline:
              .deadline-date.expires-soon May 24, 2020
        a(href="#").more-link More To-Dos
    include footer.pug


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/libs.min.js")
    script(src="js/to-do.js")
    script(src="js/header.js")
